# Ignore all Visual Studio 2022 stuff

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

.vs
x64

# Ignore data files

*.txt
!sparse_file_mini.txt
!svd_mini_k2_U.txt
!svd_mini_k2_V.txt
!svd_mini_k2_s.txt
!sparse_file_mini2.txt
!svd_mini2_k2_U.txt
!svd_mini2_k2_V.txt
!svd_mini2_k2_s.txt
